/.idea/.idea.micro-frontend-ts.dir/.idea/aws.xml
/.idea/.idea.micro-frontend-ts.dir/.idea/vcs.xml
/.idea/.idea.micro-frontend-ts.dir/.idea/workspace.xml
/length-converter-app/dist/lengthPack.js
/length-converter-app/dist/
/.idea/
